.App {
  text-align: center;
}
div {
  margin: 0;
}
.calc {
  margin: 0;
}
.calc-row {
  margin: -.2em;
  padding: 0;
}
.calc-disp {
  border:1px solid #111;
  height: 1em;
  width: 9.9em;
  display: inline-block;
  margin: 0;
  background-color: #333;
  border-radius: .3em .3em 0 0;
  color:white;
  text-align: right;
  line-height: 4em;
  padding:2em;
}
.btn {
  border:1px solid #222;
  height: 3em;
  width: 3.5em;
  display: inline-block;
  margin: 0;
  background-color: #666;
  color: white;
  text-align: center;
  vertical-align: center;
  line-height: 3em;
  cursor:pointer;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  color: #ddd;
  font-size: 1em;
  outline: none;
}
.btn:active {
  background-color: #aaa;
}
.zero {
  width:5.8em;
  height: 3em;
  border-radius: 0 0 0 .3em;
  text-align: left;
  padding-left: 1.3em;
}
.topRow {
  background-color: #444;
}
.topRow:active {
  background-color: #666;
}
.red {
  color: red;
  
}
.orange {
  background-color: orange;
}
.orange:active {
  background-color: #c0871f;
}
.end {
  border-radius: 0 0 .3em 0;
}